.textSide {
  background-color: #008000;
  height: 100vh;
}

.loginSection {
  overflow: hidden;
}

.login {
  margin-top: 120px;
  margin-left: 20px;
  margin-right: 30px;

}

.btn {
  margin-top: 10px;
  background-color: #0275d8 ;
  color: white;
}

.mat-form-field {
  width: 100%;
}
